/* Define custom color variables */
:root {
    --custom-primary-color: #9dc947;
}

/* Override Bootstrap's primary color */
/* Define your custom color */
.btn-custom-primary {
    color: #fff;
    background-color: #9dc947; /* Example primary color */
    border-color: #9dc947; /* Example primary color */
}

.btn-custom-primary:hover {
    color: #fff;
    background-color: #277142; /* Example darker shade of primary color on hover */
    border-color: #277142; /* Example darker shade of primary color on hover */
}

.btn-custom-primary:focus {
    color: #fff;
    background-color: #9dc947; /* Example darker shade of primary color on focus */
    border-color: #9dc947; /* Example darker shade of primary color on focus */
    box-shadow: 0 0 0 0.2rem rgb(39, 113, 66);  /* Example box-shadow on focus */
}


/* Define custom text-primary color */
.text-custom-primary {
    color: #277142; /* Your custom color code */
}
/* Define custom text-primary color */
.nav-text-custom-primary {
    /*font-size: 15px;*/
    color: #277142; /* Your custom color code */
}

/* Define custom text-bg-primary color */
.text-bg-custom-primary {
    font-size: 18px;
    background-color: #277142; /* Your custom background color code */
    color: #fff; /* Text color to ensure readability */
    padding: 16px 8px; /* Adjust padding as needed */
    border-radius: 8px; /* Add rounded corners for better appearance */
}
/* Define custom text-bg-primary color */
.bg-custom-primary {
    background-color: #277142; /* Your custom background color code */
    color: #fff; /* Text color to ensure readability */
    /*padding: 8px 8px; !* Adjust padding as needed *!*/
    border-radius: 4px; /* Add rounded corners for better appearance */
}
.nav-link:hover {
    color: #9dc947; /* Specify your desired hover color */
}

.form-control.shadow-custom {
    box-shadow: 0 0 0 0.2rem rgb(39, 113, 66); /* Change the color and opacity here */
}

.custom-input:focus {
    border-radius: 4px;
    border-color: #4CAF50; /* Change border color on focus */
    box-shadow: 0 0 0 0.2rem rgb(157, 201, 71); /* Change box shadow on focus */
}

/* Define your custom color */
.custom-checkbox .form-check-input:checked {
    background-color: #277142; /* Example blue color */
    border-color: #277142; /* Example blue color */
}

